.leftPanelStoryBuilder{
    min-height:30vh;
}

.textElementStory:hover{
    cursor: pointer;
    background-color: rgba(216, 215, 215, 0.842);
}

.project-images:hover {
    opacity: .3;
    cursor:pointer;
}
.plotsDivStory{
    overflow-x:hidden;
}
#storyMakerDiv{
    min-height: 1000px;
    font-family: 'Times New Roman', Times, serif;
}

.story-input {
    border: 0px !important;
    outline: none;
}
.story-description-input, .story-description-view{
    font-size: 16px;
    border: 0px !important;
    outline: none;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.titleStory{
    font-size: 2.5em;
    font-weight:bold;
    width:100%;
}
.sectionStory{
    font-size: 1.5em;
}
.storyOptionsBtn:hover{
opacity: 50%;
cursor: pointer;
}
.storyBtn:hover{
    cursor:pointer;
    color: white;
}


#storyMakerDiv textarea {
    resize: none;
    overflow: hidden;
    height:30px;
}

.description{
    font-size:1em;
    margin-top:-3px;
    width:100%;
}

.border-story-active{
    border: 1px solid;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


#storyPictures{
    grid-gap: 24px;
    padding:20px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#storyPictures img{
    min-height:120px;
    max-height:120px;
    overflow-x:hidden;
}
.space-element{
    min-height:30px;
    cursor: pointer;
}
.space-element:hover{
   background-color: rgb(230, 230, 230);
}

#story-nav { position: sticky; top: 0; z-index:1030;background-color: white;}