.tweetTrackDiv{
   height:600px;
  width:90%;
}
ul {
   list-style-type: none;
 }
 
.trackDateTitle {
   font-size:1em;
}
.trackCategoryTitle{
   font-size:1em;

}
.trackWeekTitle{
   font-size:1em;
}
.trackCount , .trackCategoryCount{
   font-size:1em;
}
.trackDateCard{
   color:var(--color-text);
}

.trackDateCard:hover , .datesOptionalCard:hover{
   background-color: var(--color-lightGray);
   cursor:pointer;
}
.dateOptionalList{
   max-height:130px;
   overflow-y: auto;
   overflow-x: hidden;
}
.trackDateList{
   overflow-y: auto;
   overflow-x: hidden;
   height:900px;


}
.seeTweet:hover{
   cursor: pointer;
   background-color: darkgray;

}

.trackCategoryBox{
   border-radius:24px;

}
.trackCategoryBox:hover{
   background-color:var(--color-lightGray);
   cursor:pointer;
   
}
.tweetRawTrackDiv{
   min-height:270px;
  
}
.trackHierarchyNode{
   max-width:70px;
}
.activeDate{
   background-color: var(--color-active);
   color:white ;
}
.activeCategory{
   background-color: var(--color-active);
   color:white !important;
}

.activeCategory .text-primary{
   color:white !important;
}
.openTweetRaw:hover{
   opacity: 50% !important;
   cursor:pointer;
}

.trackChartDiv{
   height:400px;
}

.noTrackFoundCard{
   width:400px;
}

#networkTrackTweetDiv  div {
   border:0px !important;
}

#result-div-map{
   min-height:500px;
}